.option-page {
  clear: right;
  ol li {
    font-weight: bold;
  }

  ol li section {
    font-weight: normal;
  }

  &--posts {
    margin: 0.5em;
    padding-inline-start: 0.5em;
    @media screen and (min-width: 1200px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }
}

.option-rolPadding {
  padding: 0.3em 0.3em 0.3em 0.3em;
}

.option-header {
  background-color: #c1ff82;
  font-size: 0.1em;
  box-shadow: 6px 6px 10px hsla(300, 15%, 25%, 0.3) inset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;
  text-transform: capitalize;
  margin: auto;
  padding: 0 2em;
  min-height: 25em;
}

.option-rol {
  border: 1px solid black;
  padding: 0.1em;
  border-top: none;
  line-height: 1.4em;
  background-color: white;
}

.option-container {
  display: block;
  @media screen and (min-width: 520px) {
    display: flex;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.option-part-Header {
  text-transform: capitalize;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  font-size: medium;
}

.option-head-text {
  padding: 0.05em 1em;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  @media screen and (min-width: 1200px) {
    max-width: 25em;
  }
}

.type-food {
  display: block;
  margin-top: 5em;
}

.option-width-form {
  width: 100%;
}

.option-field-name {
  min-width: 20em;
  margin-top: 1em;
  padding: 0.5em;
}

.option-footer {
  width: 95%;
  border-top: 1px solid gray;
  margin: 0.3em auto 0.3em auto;
  padding: 0.1em;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.option-rolPadding {
  padding: 1em 3em 1em 3em;
}

.option-header {
  font-size: 0.1em;
}

.option-rolPadding {
  padding: 1em 1em 1em 1em;
}

@media screen and (min-width: 1200px) {
  .option-rolPadding {
    padding: 0.3em 0.3em 0.3em 0.3em;
  }

  .option-header {
    font-size: 0.1em;
    padding: 0 5em;
  }

  li {
    margin-right: 0 !important;
  }

  .option-with {
    max-width: 30em;
    width: 30em;
  }
}

.border {
  border: gray solid 1px;
}

.hover-background {
  background-color: #c1fe82;
}
