.header {
  background-color: #00000047;
  height: 3.5em;
  padding: 0 1em;
}

.header-logo {
  float: left;
  width: 15em;
  margin: 0 .4em;
  cursor: pointer;
}

.header-text {
  text-align: center;
  padding: .8em 0;
  font-size: larger;
  font-weight: bold;
  display: block;
  @media screen and (min-width: 960px) {
    display: none;
  }
}

.header-icon {
  width: 1.8em;
  height: 80%;
  color:  black;
  cursor: pointer;
  float: right
}