@import './variables';

.sidebar {
  border-radius: 1em;
  min-height: 30em;
  background-image: linear-gradient(to bottom, $darkGray 65%, $lightGray);
  padding-top: 1em;

  select {
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: $gray-shine;
    background-image: none;
  }

  select option {
    margin: 1em;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  }

  select::-ms-expand {
    display: none;
  }

  select {
    flex: 1;
    padding: 0 0.5em;
    color: #fff;
    cursor: pointer;
    font-size: medium;
  }

  &--select {
    margin: 0 auto;
    position: relative;
    display: flex;
    height: 2em;
    line-height: 2;
    background: #2c3e50;
    overflow: hidden;
    border-radius: 0.25em;
    width: 90%;
  }

  &--select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: white;
    cursor: pointer;
    pointer-events: none;
    transition: 0.25s all ease;
  }
}

.sidebar-filter-button {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  margin: 0.5em;
  align-items: center;
}

@media screen and (min-width: 960px) {
  .sidebar {
    display: block;
    padding-top: 2em;
  }
}

.sidebar-filter-name {
  background-color: white;
  padding: 0 3px;
}
