.app {
  background-color: #f4f4f4;
  text-align: center;
  padding: 1em;
}

ul, a {
  list-style-type: none;
  text-decoration: none;
  color: #222;
}

.margin {
  margin: 1em;
}

.button-reset {
  color: white;
  padding: .7em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: .6em;
  margin-top: 2em;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #222;
  border: 1px solid #4CAF50;
  @media screen and (max-width: 960px) {
    padding: .15em .5em;
  }
}

.app-sidebar {
  min-width: 250px;
  @media screen and (max-width: 960px) {
    display: none;
  }
}

.margin-left-3 {
  margin-left: 3em
}

.float-right {
  float: right;
}

.margin-top-3 {
  margin-top: 3em;
}

.font-size-small {
  font-size: small;
}
